.footer {
    padding-top: 114px;
    text-align: center;
}

.footer__head {
    padding-bottom: 89px;
}

.footer__head h1 {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    padding-bottom: 20px;
}

.footer__head p {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    padding-bottom: 45px;
}

.footer__head a {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 13px 30px;
    background: #070707;
    border-radius: 50px;
    transition: all .3s ease;
}

.footer__head a:hover {
    color: #000;
    background-color: rgb(119, 117, 117);
}

.footer__mesengers {
    padding-bottom: 45px;
}

.footer__mesengers ul{
    display: flex;
    justify-content: center;
   
}

.footer__mesengers ul li {
    list-style: none;
    padding: 0 31px;
    transition: all .6s ease;
}

.footer__mesengers ul li a img {
    transition: all .3s ease;
}

.footer__mesengers ul li a img:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.footer__bottom-text {
    font-family: Gilroy;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    font-weight: 600;
    padding-bottom: 128px;
}

@media (max-width: 496px) {
    .footer__head p {
        font-size: 16px;
    }
}

@media (max-width: 418px) {
    .footer__mesengers ul{
        flex-direction: column;
    }

    .footer__mesengers ul li {
        margin-bottom: 50px;
    }
}